<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error page</title>
        <link th:href="@{/css/general.css}" type="text/css" rel="stylesheet" />
        <div th:insert="fragments/bootstrap :: bootstrap"></div>
    </head>
    <body class="container-fluid">
        <div th:insert="fragments/header :: header"></div>

        <div class="col-md-12">
            <h1 class="text-center">We are sorry but you do not have access to visit this page :(</h1>
        </div>
    </body>
</html>
