<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <body>
        <div class="col-md-8 col-md-offset-2" th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">DropUS</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/home}">Home</a></li>
                        <li th:if="${#httpServletRequest.remoteUser}" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Group list will be here...</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul th:if="${#httpServletRequest.remoteUser == null}" class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/registration/page}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                    <ul th:if="${#httpServletRequest.remoteUser != null}" class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Logged as [[${#httpServletRequest.remoteUser}]] <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="text-right" href="#">Profile <span class="glyphicon glyphicon-cog"></span></a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="text-right" th:href="@{/admin/page}">Admin panel <span class="glyphicon glyphicon-user"></span></a></li>
                            </ul>
                        </li>
                        <li><form th:action="@{/logout}" method="post"><input style="margin-right: 8px; margin-left: 8px;" class="btn btn-danger navbar-btn" type="submit" value="Sign Out"/></form></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>
