/* Header section */
#header_section .signOutButton {
    margin-right: 8px;
    margin-left: 8px;
}

/* General */
div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.marginTop05em {
    margin-top: 0.5em;
}

.marginTop1em {
    margin-top: 1em;
}

.marginBottom1em {
    margin-bottom: 1em;
}

.marginBottom2em {
    margin-bottom: 2em;
}

.width10em {
    width: 10em;
}

.padding1em {
    padding: 1em;
}
