/* Header section */
#header_section .signOutButton {
    margin-right: 8px;
    margin-left: 8px;
}

.header-navigation {
    width: 65%;
    margin: auto;
}

/* General */
div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.marginTop05em {
    margin-top: 0.5em;
}

.marginTop1em {
    margin-top: 1em;
}

.marginTop15em {
    margin-top: 1.5em;
}

.marginBottom05em {
    margin-bottom: 0.5em;
}

.marginBottom1em {
    margin-bottom: 1em;
}

.marginBottom2em {
    margin-bottom: 2em;
}

.width10em {
    width: 10em;
}

.padding1em {
    padding: 1em;
}
/* End generals */

.login-page-sing-in--button {
    margin-top: 1em;
}

.login-page--login, .login-page--password, .registration-page--username,
.registration-page--password, .registration-page--password-confirmation {
    width: 10%;
    margin: 1em auto 0;
}
