#specific_group .border {
    border: 1px dashed #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}

#specific_group .specific-group--content {
    margin: 0 10em;
}

#specific_group .table {
    margin-bottom: 0;
}

#content_section .group-content {
    background-color: #e0e0e0;
}

.group-description {
    padding-bottom: 1em;
}

.group-create {
    width: 70%;
    margin: 0 auto 2em;
}

.group-create > label {
    display: block;
}

#user_section .group-users--user-list {
    padding: 1em;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.group-users--actions {
    text-align: center;
    width: 1px;
}

.group-post--content {
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 3em 2em;
    text-align: left;
}

.group-post--actions > div > * {
    margin: 0 1em;
}

.group-post--actions > div {
    display: inline-block;
}

.group-post--delete-post {
    display: inline-block;
}

.group-post--content-substance {
    margin: 1em 3em;
}

.group-post--content-likes {
    margin: 0 1em;
}

.group-post--content-likes > form {
    display: inline-block;
    margin: 1em;
}

#specific_group button:hover {
    outline: 0;
    text-decoration: underline;
}

#specific_group button:focus {
    outline: 0;
    text-decoration: none;
}

#specific_group .btn-like:hover {
    color: green;
}

#specific_group .btn-dislike:hover {
    color: red;
}

.group-post--content-likes .btn-green {
    color: green;
}

.group-post--content-likes .btn-red {
    color: red;
}

.group-post--content-likes .btn-black {
    color: black;
}

.group-admin--label {
    color: #ff0000;
    font-weight: bold;
}

.group-actions > button, .group-actions > form {
    margin: 1em auto;
}

#action_section .group-actions--users {
    padding: 1em;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
