<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>DropUS Homepage</title>
        <div th:insert="fragments/bootstrap :: bootstrap"></div>
    </head>
    <body class="container-fluid text-center">
        <div th:insert="fragments/header :: header"></div>

        <h1 th:text="${welcomeMessage}"></h1>

        <div th:if="${#httpServletRequest.remoteUser == null}">
            <h2>It looks like you are not logged in, go ahead and sign up or log in!</h2>
        </div>

        <div th:if="${#httpServletRequest.remoteUser != null}">
            <h2 th:inline="text">Nice to see you again, [[${#httpServletRequest.remoteUser}]]!</h2>
        </div>
    </body>
</html>
