<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DropUS Login page</title>
        <div th:insert="fragments/bootstrap :: bootstrap"></div>
    </head>
    <body class="container-fluid">
        <div th:insert="fragments/header :: header"></div>

        <div class="text-center">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div th:if="${userRegistered != null}">
                <h4>User <span class="text-success">[[${userRegistered}]]</span> registered. Go ahead and log in!</h4>
            </div>
        </div>
        <form class="text-center" th:action="@{/login}" method="post">
            <div class="form-group login-page--login">
                <label for="login_username">Username:</label>
                <input id="login_username" required type="text" name="username" class="form-control" placeholder="Enter username">
            </div>
            <div class="form-group login-page--password">
                <label for="login_password">Password:</label>
                <input id="login_password" required type="password" name="password" class="form-control" placeholder="Enter password">
            </div>
            <input class="btn btn-success login-page-sing-in--button" type="submit" value="Sign in" />
        </form>
    </body>
</html>
