<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DropUS Registration Page</title>
        <div th:insert="fragments/bootstrap :: bootstrap"></div>
    </head>
    <body class="container-fluid">
        <div th:insert="fragments/header :: header"></div>

        <h1 class="text-center">Welcome on registration page for <strong>DropUS</strong>!</h1>
        <h1 class="text-center" th:text="${userExists}"></h1>

        <form class="text-center" th:action="@{/registration/register}" method="post">
            <div class="form-group registration-page--username">
                <label for="new_user_username">Username</label>
                <input id="new_user_username" required type="text" name="username" class="form-control" placeholder="Enter username">
                <label class="text-danger" th:text="${usernameError}"></label>
            </div>
            <div class="form-group registration-page--password">
                <label for="new_user_password">Password</label>
                <input id="new_user_password" required type="password" name="password" class="form-control" placeholder="Enter password">
                <label class="text-danger" th:text="${passwordError}"></label>
            </div>
            <div class="form-group registration-page--password-confirmation">
                <label for="new_user_password_confirmation">Confirm password</label>
                <input id="new_user_password_confirmation" required type="password" name="passwordConfirm" class="form-control" placeholder="Confirm password">
                <label class="text-danger" th:text="${confirmError}"></label>
            </div>
            <input class="btn btn-success" type="submit" value="Sign up!"/>
        </form>
    </body>
</html>
