<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>DropUS Group Page</title>
        <link th:href="@{/css/specificgroup.css}" type="text/css" rel="stylesheet" />
        <div th:insert="fragments/bootstrap :: bootstrap"></div>
        <script th:src="@{/js/specificgroup.js}" type="text/javascript"></script>
        <meta name="_csrf" th:content="${_csrf.token}"/>
    </head>
    <body id="specific_group" class="container-fluid text-center">
        <div th:insert="fragments/header :: header"></div>

        <div th:switch="${groupExists}">
            <div th:case="true" class="row specific-group--content">
                <div id="user_section" class="col-sm-3">
                    <div class="border group-users">
                        <h3>Group admin: [[${group.groupOwner}]]</h3>
                        <table th:if="${!group.members.isEmpty()}" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Members</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${group.members}">
                                <td class="group-users--user-list"><a th:href="@{'/profile/display/' + ${user}}">[[${user}]]</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="content_section" class="col-sm-6">
                    <div class="border group-content">
                        <h2 th:text="${group.name}"></h2>
                        <h3 class="group-description" th:text="${group.description}"></h3>
                        <div th:if="${isAdmin} or ${isMember}">
                            <form th:action="@{/post/create}" method="post" class="group-create">
                                <label for="create_post">Create post</label>
                                <input name="groupName" th:value="${group.name}" type="hidden"/>
                                <textarea id="create_post" required name="postContent" class="form-control" rows="3" placeholder="Share something..."></textarea>
                                <label class="text-danger" th:text="${postCreationFailure}"></label>
                                <input type="submit" class="btn btn-success" value="Submit">
                            </form>
                            <div th:each="post : ${posts}">
                                <div class="group-post--content">
                                    <div class="row group-post--actions">
                                        <div class="col-xs-6">
                                            <span th:if="${post.author.equals(group.groupOwner)}">
                                                <span class="glyphicon glyphicon-eye-open group-admin--label"> [[${post.author}]]</span>
                                            </span>
                                            <span th:if="${!post.author.equals(group.groupOwner)}">
                                                [[${post.author}]]
                                            </span>
                                            <button th:if="${#httpServletRequest.remoteUser == post.author}" class="btn btn-link" data-toggle="modal" th:data-target="${'#post_' + post.id}">edit</button>
                                            <form th:if="${#httpServletRequest.remoteUser == post.author or isAdmin == true}" th:action="@{/post/delete}" method="post" class="group-post--delete-post">
                                                <input name="postID" th:value="${post.id}" type="hidden"/>
                                                <input type="submit" value="delete" class="btn btn-link" />
                                            </form>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span th:text="${post.date.time}"></span>
                                        </div>
                                    </div>
                                    <form th:id="${'post_' + post.id}" th:action="@{/post/update}" method="post" class="modal fade" role="dialog">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="edit_post">Edit post</label>
                                                    <input name="postID" th:value="${post.id}" type="hidden"/>
                                                    <textarea id="edit_post" required name="postContent" class="form-control" rows="3" th:text="${post.postContent}"></textarea>
                                                    <label class="text-danger" th:text="${postUpdateFailure}"></label>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" class="btn btn-success" value="Submit" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="group-post--content-substance" th:text="${post.postContent}"></div>
                                    <div th:id="${post.id}" class="group-post--content-likes">
                                        <button th:class="${'btn btn-success btn-trigger btn-like-' + post.id}" th:data-like="${true}">Likes [[${post.likes.size()}]]</button>
                                        <button th:class="${'btn btn-danger btn-trigger btn-dislike-' + post.id}" th:data-like="${false}">Dislikes [[${post.dislikes.size()}]]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="action_section" class="col-sm-3">
                    <div class="border group-actions">
                        <button th:if="${isAdmin}" class="btn btn-danger" data-toggle="modal" data-target="#delete_group"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                        <form id="delete_group" th:action="@{/group/delete}" method="post" class="modal fade" role="dialog">
                            <div class="modal-dialog text-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="groupName" th:value="${group.name}">
                                        Are you sure you want to delete this group?
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-warning" data-dismiss="modal" value="Cancel" />
                                        <input type="submit" class="btn btn-danger" value="Delete" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:if="${isNotPending}" th:action="@{/group/join}" method="post">
                            <input name="add" th:value="true" type="hidden"/>
                            <button name="groupName" th:value="${group.name}" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Join</button>
                        </form>
                        <form th:if="${isPending}" th:action="@{/group/join}" method="post">
                            <p>Waiting for approval</p>
                            <input name="add" th:value="false" type="hidden"/>
                            <button name="groupName" th:value="${group.name}" class="btn btn-warning"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                        </form>
                        <button th:if="${isMember}" class="btn btn-danger" data-toggle="modal" data-target="#exit_group"><span class="glyphicon glyphicon-remove-sign"></span> Exit group</button>
                        <form id="exit_group" th:action="@{/group/exit}" method="post" class="modal fade" role="dialog">
                            <div class="modal-dialog text-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="groupName" th:value="${group.name}">
                                        Are you sure you want to exit this group?
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-warning" data-dismiss="modal" value="Cancel" />
                                        <input type="submit" class="btn btn-danger" value="Exit" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div th:if="${isAdmin} and ${!group.pendingUsers.isEmpty()}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Users pending</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${group.pendingUsers}">
                                    <td class="group-actions--users"><a th:href="@{'/profile/display/' + ${user}}">[[${user}]]</a></td>
                                    <td>
                                        <form th:action="@{/group/accept}" method="post">
                                            <input name="groupName" th:value="${group.name}" type="hidden"/>
                                            <button name="username" th:value="${user}" class="btn btn-success"> Accept</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:case="false">
                <h1>Sorry, but group you are trying to find, doesn't exist</h1>
                <h2>Go ahead, and create it!</h2>
            </div>
        </div>
    </body>
</html>
