<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DropUS Groups page</title>
        <div th:insert="fragments/bootstrap :: bootstrap"></div>
    </head>
    <body class="container-fluid text-center">
        <div th:insert="fragments/header :: header"></div>

        <div th:switch="${userExists}" class="col-md-6 col-md-offset-3">
            <div th:case="true">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#user_details">User Details</a></li>
                    <li><a data-toggle="tab" href="#user_groups">User Groups</a></li>
                    <li><a data-toggle="tab" href="#user_files">Shared Files</a></li>
                    <li th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}"><a data-toggle="tab" href="#user_panel">User Panel</a></li>
                </ul>

                <div class="tab-content">
                    <div id="user_details" class="tab-pane fade in active">
                        <h3>Here you can find all details about user</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="user_groups" class="tab-pane fade">
                        <h3>Here you can find all groups user belongs to</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="user_files" class="tab-pane fade">
                        <h3>Here you can find all user's shared files</h3>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h4>Shared file</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="filename : ${sharedFiles}">
                                            <td class="text-center">
                                                <a th:href="@{'/profile/getfile/' + ${userDetails.username} + '/' + ${filename}}">[[${filename}]]</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}" class="col-md-6">
                                <h4>Users panel to manage those files</h4>
                                <form th:action="@{/profile/savefiles}" method="post" enctype="multipart/form-data">
                                    <h5>Files to upload:</h5>
                                    <input type="file" name="files" multiple />
                                    <button class="btn btn-link">Upload files</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}" id="user_panel" class="tab-pane fade">
                        <h3>Feel free to change your personal data</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
            </div>
            <div th:case="false">
                <h2>Sorry, but it seems like user you are trying to find, doesn't exist</h2>
            </div>
        </div>
    </body>
</html>
