<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DropUS Groups page</title>
        <link th:href="@{/css/userprofile.css}" type="text/css" rel="stylesheet" />
        <div th:insert="fragments/bootstrap :: bootstrap"></div>
    </head>
    <body class="container-fluid text-center">
        <div th:insert="fragments/header :: header"></div>

        <div th:switch="${userExists}">
            <div th:case="true">
                <div class="user-panel-navigation">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#user_details">User Details</a></li>
                        <li><a data-toggle="tab" href="#user_groups">User Groups</a></li>
                        <li th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}"><a data-toggle="tab" href="#user_panel">User Panel</a></li>
                    </ul>
                </div>

                <div class="tab-content user-panel-navigation--content">
                    <div id="user_details" class="tab-pane fade in active">
                        <h3>Here you can find all details about user</h3>
                        <p>Some details about user :)</p>

                        <div id="user_files" class="user-profile--file-section">
                            <h3>Here you can find all user's shared files</h3>
                            <form th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}" th:action="@{/profile/savefiles}" method="post" enctype="multipart/form-data">
                                <h5>Files to upload:</h5>
                                <input class="file-input" type="file" name="files" multiple />
                                <button class="btn btn-link file-input--submit-button">Upload files</button>
                                <label class="text-danger file-input--error-label" th:text="${uploadFileError}"></label>
                            </form>
                            <div class="user-profile--file-tables">
                                <div th:switch="${sharedFiles.isEmpty()}">
                                    <div th:case="false">
                                        <h4>Shared file</h4>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center shared-files-label">Files</th>
                                                    <th th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}" class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="filename : ${sharedFiles}">
                                                    <td class="text-center user-files-filename">
                                                        <a th:href="@{'/profile/getfile/' + ${userDetails.username} + '/' + ${filename}}">[[${filename}]]</a>
                                                    </td>
                                                    <td th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}">
                                                        <form th:action="@{/profile/makeprivate}" method="post">
                                                            <input name="filename" th:value="${filename}" type="hidden" />
                                                            <button class="btn btn-link btn-red">Make private</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div th:case="true">
                                        <h3>User does not share any files</h3>
                                    </div>
                                </div>
                                <div th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}">
                                    <div th:switch="${privateFiles.isEmpty()}">
                                        <div th:case="false">
                                            <h4>Private files</h4>
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="text-center private-files-label">Files</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="filename : ${privateFiles}">
                                                    <td class="text-center user-files-filename">
                                                        [[${filename}]]
                                                    </td>
                                                    <td>
                                                        <form th:action="@{/profile/makepublic}" method="post" class="private-files-action-form">
                                                            <input name="filename" th:value="${filename}" type="hidden" />
                                                            <button class="btn btn-link btn-green">Make public</button>
                                                        </form>
                                                        <form th:action="@{/profile/deletefile}" method="post" class="private-files-action-form">
                                                            <input name="filename" th:value="${filename}" type="hidden" />
                                                            <button class="btn btn-link btn-red">Remove</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:case="true">
                                            <h3>You do not have any private files</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user_groups" class="tab-pane fade user-profile--user-groups">
                        <div class="panel panel-default">
                            <div class="panel-heading">User's groups</div>
                            <div class="panel-body">
                                <p>Here you can find all groups user is member of</p>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">Group name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="group : ${userDetails.userGroups}">
                                    <td class="text-center">
                                        <a th:href="@{'/group/display/' + ${group}}" class="btn btn-link">[[${group}]]</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div th:if="${#httpServletRequest.remoteUser.equals(userDetails.getUsername())}" id="user_panel" class="tab-pane fade">
                        <h3>Feel free to change your personal data</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
            </div>
            <div th:case="false">
                <h2>Sorry, but it seems like user you are trying to find, doesn't exist</h2>
            </div>
        </div>
    </body>
</html>
